<div class="eui-grid-editor euigrid" id="{{id}}">
	<table class="table" style="margin-bottom:0px">
		<tr>
			<td>
				<div style="width:50px;"></div>
			</td>
			{{#columns}}
			<td>
				<div style="width:{{width}}px;">
					<input class = "{{showEdit}}" data-index="{{index}}" id="{{id}}" style="text-align: {{align}};" value="{{&value}}"/>
					<span class = "{{hideEdit}}">{{&value}}</span>
				</div>
			</td>
			{{/columns}}
		</tr>
	</table>
	<div class="submitor">
		<button class="btn btn-primary" name="submit">
			<i class="fa fa-check"></i> 确定
		</button>
		<button class="btn btn-default" name="cancel"><i class="fa fa-times"></i> 取消</button>
	</div>
</div>
