<table id="{{id}}" class="table table-hover table-{{type}} table-{{showCheckBox}}-check">
	<thead>
		<tr>
			<th id="{{id}}-all-check" class="check-column">
				<span class="glyphicon e-checkbox" aria-hidden="true"></span>
			</th>
			{{#headers}}
			<th style="text-align: {{align}};width: {{width}}px;">{{&header}}</th> 
			{{/headers}}
		</tr>
	</thead>
	<tbody>
		{{#datas}}
		<tr id="{{id}}">
			<td class="check-column" id="{{id}}-check">
				<span class="glyphicon e-checkbox" aria-hidden="true"></span>
			</td>
			{{#columns}}
			<td id="{{id}}" style="text-align: {{align}}">{{&value}}</td>
			{{/columns}}
		</tr>
		{{/datas}}
	</tbody>
</table>
