<table id="{{id}}-head" class="table table-hover table-{{type}} table-{{showCheckBox}}-check">
	<thead>
		<tr>
			<th rowspan="{{headRows}}" id="{{id}}-all-check" class="check-column">
				<div><span class="glyphicon e-checkbox" aria-hidden="true"></span></div>
			</th>
			{{#firstHeader.headers}}
			<th colspan="{{colspan}}" rowspan="{{rowspan}}" class="{{isLast}}" style="text-align: {{align}};">
				<div style="width:{{width}}px;">{{&header}}</div>
			</th> 
			{{/firstHeader.headers}}
		</tr>
		{{#extendHeaders}}
		<tr>
			{{#headers}}
			<th colspan="{{colspan}}" rowspan="{{rowspan}}" style="text-align: {{align}};width: {{width}}px;">{{&header}}</th> 
			{{/headers}}
		</tr>
		{{/extendHeaders}}
	</thead>
	<tbody>
			{{#datas}}
			<tr id="{{id}}">
				<td class="check-column" id="{{id}}-check">
					<div><span class="glyphicon e-checkbox" aria-hidden="true"></span></div>
				</td>
				{{#columns}}
				<td id="{{id}}" style="text-align: {{align}};">
					<div style="width:{{width}}px;">{{&value}}</div>
				</td>
				{{/columns}}
			</tr>
			{{/datas}}
		</tbody>
</table>